# URL de conexão com o banco de dados PostgreSQL (Docker Compose)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/api-brasil-ibge?schema=public"

# URL base da API da equipe de análise de dados
API_DADOS_URL="http://localhost:3000"
